<?xml version='1.0' encoding='utf-8'?>
<widget id="org.camden.pgdiary" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Calculator</name>
    <description>
        A simple calculator for android.
    </description>
    <author email="modi401@hotmail.com">
        Agashe
    </author>
    <icon gap:platform="android" height="96" src="icon-96-ldpi.png" width="96" />

    <content src="index.html" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="android" />
    <preference name="fullscreen" value="false" />
    <access origin="*" />
</widget>
